.select-button-unselected {
  border: solid var(--color-fonts) 3px;
  color: var(--color-fonts);
}

.select-button-selected {
  border: none;

  background-color: var(--color-fonts);
  color: var(--color-sand);
  font-weight: bold;
  -webkit-appearance: none;
  -moz-appearance: none;
}
