.LandingSection {
  background-color: var(--color-sand);
  display: grid;
  grid-template-rows: 15vh 35vh auto;
  height: 100vh;
  justify-items: center;
  align-items: center;
}

.LandingSection_Headline {
  grid-row: 1 / 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.LandingSection_Image {
  grid-row: 2 / 3;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.LandingSection_Text {
  grid-row: 3 / 4;
  display: flex;
}
.LandingSectin_Nav {
  display: flex;
  flex-direction: column;
}
