.LandingSection {
  background-color: var(--color-sand);
  display: grid;
  grid-template-rows: 15vh 35vh auto;
  height: 100vh;
  justify-items: center;
  align-items: center;
}

.LandingSection_Headline {
  grid-row: 1 / 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.LandingSection_Image {
  grid-row: 2 / 3;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.ScrollImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.LandingSection_Text {
  grid-row: 3 / 4;
  display: flex;
  /* flex-direction: column;
  align-items: center;
  justify-content: center; */
}

/* .landing-nav {
  grid-row: 4 / 5;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
} */
/* @media only screen and (min-width: 420px) {
  .landing-page {
    grid-template-columns: auto 414px auto;
  }
  .landing-rest {
    grid-column: 2 / 3;
  }
  .landing-image {
    grid-column: 2 / 3;
  }
  .landing-header {
    grid-column: 2 / 3;
  }
} */

/* @media only screen and (min-width: 414px) {
  .landing-text {
    font-size: 5vw;
  }

  .landing-text-highlight {
    font-size: 5vw;
  }
}
@media only screen and (min-height: 700px) {
  .landing-text {
    font-size: 8vw;
  }

  .landing-text-highlight {
    font-size: 8vw;
  }
} */
