.generator-ratio {
  background-color: var(--color-rose);
  display: grid;
  grid-template-rows: auto min-content auto;
  height: 100vh;
}

.generator-ratio-textbox {
  grid-row: 1 / 2;
  text-align: center;
  margin: 5% 0 5% 0;
}
.generator-ratio-inputset {
  grid-row: 2 / 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.generator-ratio-next {
  grid-row: 3 / 4;
  display: flex;
  align-items: center;
  justify-content: center;
}
