.RecipeIngredients {
  grid-row: 2 / 3;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 0.5em;
  /* color: var(--color-fonts); */
}

.RecipeIngredients_Item {
  display: flex;
  gap: 10px;
  margin: auto;
}

.RecipeIngredients_List {
  border: solid 1.5px;
  width: 75%;
  padding: 5px;
  margin: 0 auto 10px;
  align-self: center;
  /* display: flex;
  flex-direction: column;
  align-items: center; */
}

.RecipeIngredients_Item p:first-child {
  text-align: end;
  width: 60px;
}

.RecipeIngredients_Item p:last-child {
  text-align: start;
}

/* .save-recipe-ingredients {
  grid-row: 2 / 3;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 0.5em;
  /* color: var(--color-fonts); */
/* } */

/* .SaveRecipe_Ingredients_Item {
  display: flex;
  gap: 10px;
  margin: auto 50px;
} */
