.save-recipe-textbox {
  width: 200px;
  padding: 2vh 0 5vh 0;

  font-family: "Work sans";
  font-size: 17px;
  color: var(--color-fonts);
  text-align: center;
}
.save-recipe-textbox-highlight {
  font-family: "Titan One", cursive;
  font-size: 20px;
  margin-bottom: 0.5em;
}
