:root {
  --color-fonts: #48270e;
  --color-inputs: #eeeeef;
  --color-sand: #d5cdc1;
  --color-rose: #d3b4b4;
  --color-green: #b9be96;
  --box-shadow: 0px 3px 6px 3px rgba(0, 0, 0, 0.1);
  --highlight-text: "Titan One", cursive;
}
